.lottery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 4rem;
  margin-top: 8rem;
  margin-bottom: 12rem;
  margin-left: 12rem;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em;
}

.buttondiv {
  display: flex;
  flex-direction: column;
}

._img {
  width: 30em;
  height: 20em;
}

.parent {
  display: flex;
  flex-direction: row;
}

.__content_wrapper2 {
  width: 50%;
  height: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 12rem;
  margin-right: 4rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.51);
}
